/*
Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.
        on line 5 of test/css/sass/mobile.sass

1: html,body
2:     font-family: 'Lato', sans-serif
3:     margin: 0
4:     background: #FCFCFC
5: 	font: 13px
6: 	
7: 	#game_controls
8: 		display: none

Backtrace:
test/css/sass/mobile.sass:5
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:473:in `block in tabulate'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:431:in `each'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:431:in `each_with_index'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:431:in `tabulate'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:396:in `_to_tree'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:293:in `watch'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/plugin.rb:108:in `method_missing'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:370:in `watch_or_update'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/exec/sass_scss.rb:50:in `process_result'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/exec/base.rb:52:in `parse'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/lib/sass/exec/base.rb:19:in `parse!'
/Users/Danny/.rvm/gems/ruby-2.1.1/gems/sass-3.4.9/bin/sass:13:in `<top (required)>'
/Users/Danny/.rvm/gems/ruby-2.1.1/bin/sass:23:in `load'
/Users/Danny/.rvm/gems/ruby-2.1.1/bin/sass:23:in `<main>'
/Users/Danny/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `eval'
/Users/Danny/.rvm/gems/ruby-2.1.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 tab was used for indentation, but the rest of the document was indented using 4 spaces.\A         on line 5 of test/css/sass/mobile.sass\A \A 1: html,body\A 2:     font-family: 'Lato', sans-serif\A 3:     margin: 0\A 4:     background: #FCFCFC\A 5: 	font: 13px\A 6: 	\A 7: 	#game_controls\A 8: 		display: none"; }
