* {
    margin: 0; 
    padding: 0;
    background-color: #000;
    box-sizing: border-box; 
  }
.container {
  width: 85%;
  margin-left: 7.5%;
  margin-top: 2%;
  display: inline-block;
  position: relative;
}
#password{
  font-weight: 500;
  color: #fff;
  font-family: "proxima-nova-condensed", "Lato", sans-serif;
  background: none;
  padding: 0 5px 0 5px;
}
.center {
  position: absolute;
  left: 50%;
  top: 45%; 
  transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%); 
}
#pwd-screen{
  height: 100%;
  width: 100%;
}
.pwdInstruction{
  top: 55%;
  background: none;
  border: 0.1em solid #ccc;
  padding: 2%;
  padding-left: 2.5%;
  background: none;
  position: absolute;
  font-weight: 300;
  font-size: 1.5em;
  color: #eee;
  text-transform: uppercase;
  font-family: "proxima-nova-condensed", "Lato", sans-serif;
}
.container:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}
#canvas-holder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}