@import url(loading.css);
/* Properties */
/* Animation */
/* KEYFRAME ANIMATIONS *************************** */
@-webkit-keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-ms-keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-moz-keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-webkit-keyframes slideinright {
  from {
    opacity: 0;
    margin-left: -200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-ms-keyframes slideinright {
  from {
    opacity: 0;
    margin-left: -200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@keyframes slideinright {
  from {
    opacity: 0;
    margin-left: -200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-moz-keyframes slideinright {
  from {
    opacity: 0;
    margin-left: -200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-webkit-keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@-ms-keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@-moz-keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@-webkit-keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@-ms-keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@-moz-keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@-webkit-keyframes rotate {
  from {
    opacity: 0;
    margin-left: 200%;
    margin-top: -30%;
    -webkit-transform: rotate(100deg); }
  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    -webkit-transform: rotate(0deg); } }
@-ms-keyframes rotate {
  from {
    opacity: 0;
    margin-left: 200%;
    margin-top: -30%;
    -ms-transform: rotate(100deg); }
  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    -ms-transform: rotate(0deg); } }
@-keyframes rotate {
  from {
    opacity: 0;
    margin-left: 200%;
    margin-top: -30%;
    transform: rotate(100deg); }

  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg); } }
@-moz-keyframes rotate {
  from {
    opacity: 0;
    margin-left: 200%;
    margin-top: -30%;
    -moz-transform: rotate(100deg); }
  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    -moz-transform: rotate(0deg); } }
@-webkit-keyframes rotateright {
  from {
    opacity: 0;
    margin-left: -200%;
    margin-top: -30%;
    -webkit-transform: rotate(-100deg); }
  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    -webkit-transform: rotate(0deg); } }
@-ms-keyframes rotate {
  from {
    opacity: 0;
    margin-left: -200%;
    margin-top: -30%;
    -ms-transform: rotate(-100deg); }
  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    -ms-transform: rotate(0deg); } }
@-keyframes rotate {
  from {
    opacity: 0;
    margin-left: -200%;
    margin-top: -30%;
    transform: rotate(-100deg); }

  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    transform: rotate(0deg); } }
@-moz-keyframes rotate {
  from {
    opacity: 0;
    margin-left: -200%;
    margin-top: -30%;
    -moz-transform: rotate(-100deg); }
  to {
    opacity: 1;
    margin-left: 0;
    margin-top: 0;
    -moz-transform: rotate(0deg); } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-webkit-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-ms-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
html, body {
  font-family: "proxima-nova-condensed", "Lato", sans-serif;
  margin: 0;
  background: #162028;
  background-image: url("/assets/img/ipad-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font: 90%;
  font-weight: 300;
  color: #FFF;
  overflow: hidden;
  height: 100%; }

#mobile_body {
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  /* IN GAME *************** */ }
  #mobile_body .button {
    display: inline-block;
    margin: auto;
    border: 1px solid #fff;
    padding: 4% 5%;
    min-width: 150px;
    max-width: 240px;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 75%;
    font-weight: 300;
    font-family: "proxima-nova-condensed", "Lato", sans-serif;
    background: none;
    color: #fff;
    box-shadow: inset 0px 0px 25px 15px rgba(255, 255, 255, 0.16); }
  #mobile_body .button:active {
    opacity: 1;
    background: #FFF;
    color: #162028;
    font-weight: 300; }
  #mobile_body .center {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -45%);
    -moz-transform: translate(-50%, -45%);
    -o-transform: translate(-50%, -45%); }
  #mobile_body .center-top {
    position: absolute;
    left: 50%;
    top: 28%;
    transform: translate(-50%, -28%);
    -webkit-transform: translate(-50%, -28%);
    -moz-transform: translate(-50%, -28%);
    -o-transform: translate(-50%, -28%); }
  #mobile_body .sect {
    display: none;
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%; }
    #mobile_body .sect article {
      font-size: 150%;
      width: 120%;
      margin-left: -10%; }
  #mobile_body .active {
    display: block; }
  #mobile_body .nonactive {
    display: block;
    -webkit-animation: slideout 0.65s;
    -moz-animation: slideout 0.65s;
    -ms-animation: slideout 0.65s;
    -o-animation: slideout 0.65s; }
  #mobile_body .finished {
    opacity: 0; }
  #mobile_body .initial {
    display: block;
    -webkit-animation: slideup 0.8s;
    -moz-animation: slideup 0.8s;
    -ms-animation: slideup 0.8s;
    -o-animation: slideup 0.8s; }
  #mobile_body #pre-game {
    display: block;
    min-width: 320px;
    text-align: center;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease-in-out; }
    #mobile_body #pre-game .logo {
      text-transform: uppercase;
      color: #FFF;
      font-size: 280%;
      background-image: url("/assets/img/logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 150px;
      width: 300px;
      margin: auto;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease-in-out; }
      #mobile_body #pre-game .logo .icon {
        background-image: url("/assets/img/logo-symbol-2x.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 2vh;
        display: block;
        width: 100%;
        margin: auto;
        margin-top: 10px; }
    #mobile_body #pre-game #intro p {
      margin-bottom: 15%;
      font-size: 110%;
      font-weight: 100; }
    #mobile_body #pre-game #game_login {
      font-weight: 100;
      -webkit-animation: slidein 0.7s;
      -moz-animation: slidein 0.7s;
      -ms-animation: slidein 0.7s;
      -o-animation: slidein 0.7s; }
      #mobile_body #pre-game #game_login input {
        width: 420px;
        padding-left: 30px;
        letter-spacing: 56px;
        overflow: hidden;
        height: 70px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 40px;
        font-family: "Inconsolata";
        position: absolute;
        margin-top: -85px;
        text-transform: uppercase;
        color: #fff;
        display: block; }
      #mobile_body #pre-game #game_login #boxes {
        display: inline-block;
        margin: auto; }
        #mobile_body #pre-game #game_login #boxes .box {
          display: inline-block;
          float: left;
          height: 70px;
          width: 70px;
          background: #080827;
          border: 1px solid;
          margin: 2px;
          outline: none;
          opacity: 0.2; }
        #mobile_body #pre-game #game_login #boxes .filled {
          opacity: 1; }
      #mobile_body #pre-game #game_login .button {
        margin-top: 10%;
        margin-bottom: 7%; }
      #mobile_body #pre-game #game_login #status {
        color: #FF2F47;
        font-weight: 400; }
  #mobile_body #in-game {
    display: block;
    height: 100%; }
    #mobile_body #in-game #game_prep {
      height: 100%; }
      #mobile_body #in-game #game_prep .instructions {
        display: block;
        position: relative;
        height: 20%; }
        #mobile_body #in-game #game_prep .instructions #name_instr.inactive {
          margin-top: -100%; }
        #mobile_body #in-game #game_prep .instructions #name_instr {
          display: none;
          font-size: 175%;
          margin-top: 60%;
          transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease-in-out;
          -webkit-animation: fadein 0.3s;
          -moz-animation: fadein 0.3s;
          -ms-animation: fadein 0.3s;
          -o-animation: fadein 0.3s; }
          #mobile_body #in-game #game_prep .instructions #name_instr input {
            display: block;
            margin: auto;
            color: #fff;
            font-family: "proxima-nova-condensed", "Lato", sans-serif;
            font-size: 110%;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-bottom: 15%;
            background: transparent;
            border: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.9);
            padding: 1%;
            outline: none; }
        #mobile_body #in-game #game_prep .instructions #colors_instr {
          font-size: 175%;
          font-weight: 100; }
      #mobile_body #in-game #game_prep #colors.down {
        margin-top: 200px; }
      #mobile_body #in-game #game_prep #colors.inactive {
        margin-top: 150%; }
      #mobile_body #in-game #game_prep #colors {
        display: block;
        height: 80%;
        transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease-in-out; }
        #mobile_body #in-game #game_prep #colors .color {
          display: none;
          height: 20%;
          width: 100%;
          background-size: 100%;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          -webkit-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
          transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          -webkit-transition: all 0.4s ease-in-out; }
        #mobile_body #in-game #game_prep #colors .color.white:before {
          display: block;
          background-size: 100%;
          background-image: url("/assets/img/pattern-white-strings-2x.svg");
          background-position: center;
          position: relative;
          height: 130%;
          left: 0;
          top: -5%;
          width: 108%;
          transform: rotate(-12deg);
          -moz-transform: rotate(-12deg);
          -o-transform: rotate(-12deg);
          -webkit-transform: rotate(-12deg);
          transform-origin: right center;
          -moz-transform-origin: right center;
          -webkit-transform-origin: right center;
          content: ""; }
        #mobile_body #in-game #game_prep #colors .white {
          background-color: #fff; }
        #mobile_body #in-game #game_prep #colors .color.pink:before {
          display: block;
          background-size: 100%;
          background-image: url("/assets/img/pattern-pink-brass-2x.svg");
          background-position: center;
          position: relative;
          height: 130%;
          left: 0;
          top: -5%;
          width: 108%;
          transform: rotate(-12deg);
          -moz-transform: rotate(-12deg);
          -o-transform: rotate(-12deg);
          -webkit-transform: rotate(-12deg);
          transform-origin: right center;
          -moz-transform-origin: right center;
          -webkit-transform-origin: right center;
          content: ""; }
        #mobile_body #in-game #game_prep #colors .pink {
          background-color: #ff4399; }
        #mobile_body #in-game #game_prep #colors .color.blue:before {
          display: block;
          background-size: 100%;
          background-image: url("/assets/img/pattern-blue-keyboards-2x.svg");
          background-position: center;
          position: relative;
          height: 130%;
          left: 0;
          top: -5%;
          width: 108%;
          transform: rotate(-12deg);
          -moz-transform: rotate(-12deg);
          -o-transform: rotate(-12deg);
          -webkit-transform: rotate(-12deg);
          transform-origin: right center;
          -moz-transform-origin: right center;
          -webkit-transform-origin: right center;
          content: ""; }
        #mobile_body #in-game #game_prep #colors .blue {
          background-color: #2cfff4; }
        #mobile_body #in-game #game_prep #colors .color.purple:before {
          display: block;
          background-size: 100%;
          background-image: url("/assets/img/pattern-purple-percussion-2x.svg");
          background-position: center;
          position: relative;
          height: 130%;
          left: 0;
          top: -5%;
          width: 108%;
          transform: rotate(-12deg);
          -moz-transform: rotate(-12deg);
          -o-transform: rotate(-12deg);
          -webkit-transform: rotate(-12deg);
          transform-origin: right center;
          -moz-transform-origin: right center;
          -webkit-transform-origin: right center;
          content: ""; }
        #mobile_body #in-game #game_prep #colors .purple {
          background-color: #6c7cff; }
        #mobile_body #in-game #game_prep #colors .color.green:before {
          display: block;
          background-size: 100%;
          background-image: url("/assets/img/pattern-green-woodwinds-2x.svg");
          background-position: center;
          position: relative;
          height: 130%;
          left: 0;
          top: -5%;
          width: 108%;
          transform: rotate(-12deg);
          -moz-transform: rotate(-12deg);
          -o-transform: rotate(-12deg);
          -webkit-transform: rotate(-12deg);
          transform-origin: right center;
          -moz-transform-origin: right center;
          -webkit-transform-origin: right center;
          content: ""; }
        #mobile_body #in-game #game_prep #colors .green {
          background-color: #29ff7f; }
        #mobile_body #in-game #game_prep #colors .color.selected {
          height: 100%;
          z-index: 1; }
        #mobile_body #in-game #game_prep #colors .color.selected:before {
          top: -21%;
          width: 152%;
          transform: rotate(-42deg);
          -moz-transform: rotate(-42deg);
          -o-transform: rotate(-42deg);
          -webkit-transform: rotate(-42deg); }
        #mobile_body #in-game #game_prep #colors .color.nonactive {
          height: 0%; }
        #mobile_body #in-game #game_prep #colors .color.unavailable {
          opacity: 0.15;
          transition: all 0.8s ease;
          -moz-transition: all 0.8s ease;
          -webkit-transition: all 0.8s ease-in-out; }
        #mobile_body #in-game #game_prep #colors .color:nth-child(odd) {
          -webkit-animation: slideinright 0.6s;
          -moz-animation: slideinright 0.6s;
          -ms-animation: slideinright 0.6s;
          -o-animation: slideinright 0.6s; }
        #mobile_body #in-game #game_prep #colors .color:nth-child(even) {
          -webkit-animation: slidein 0.5s;
          -moz-animation: slidein 0.5s;
          -ms-animation: slidein 0.5s;
          -o-animation: slidein 0.5s; }
    #mobile_body #in-game #game_controls {
      display: none; }
      #mobile_body #in-game #game_controls .instructions {
        font-size: 160%;
        font-weight: 300;
        display: block;
        margin: auto;
        max-width: 400px;
        margin-top: 10%;
        padding: 2%;
        text-align: center;
        opacity: 0.7; }
      #mobile_body #in-game #game_controls #status {
        font-size: 180%;
        font-weight: 400;
        display: block;
        margin: auto;
        max-width: 400px;
        margin-top: 15%;
        padding: 2%;
        text-align: center;
        text-transform: uppercase; }

/*# sourceMappingURL=mobile.css.map */
