@import url(loading.css);
/* KEYFRAME ANIMATIONS *************************** */
@-webkit-keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-ms-keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-moz-keyframes slidein {
  from {
    opacity: 0;
    margin-left: 200%; }
  to {
    opacity: 1;
    margin-left: 0; } }
@-webkit-keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@-ms-keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@-moz-keyframes slideout {
  from {
    opacity: 1;
    margin-left: 0; }
  to {
    opacity: 0;
    margin-left: -200%; } }
@-webkit-keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@-ms-keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@-moz-keyframes slideup {
  from {
    opacity: 0;
    margin-top: 200%; }
  to {
    opacity: 1;
    margin-top: 0; } }
@keyframes fadein {
  from {
    opacity: 0;
    transform: scale(0.5); }
  to {
    pacity: 1;
    transform: scale(1); } }
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  to {
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes fadein {
  from {
    opacity: 0;
    -moz-transform: scale(0.5); }
  to {
    opacity: 1;
    -moz-transform: scale(1); } }
@-ms-keyframes fadein {
  from {
    opacity: 0;
    -ms-transform: scale(0.5); }
  to {
    opacity: 1;
    -ms-transform: scale(1); } }
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  background: #162028;
  font: 90%;
  font-weight: 300;
  color: #FFF;
  overflow: hidden;
  height: 100%; }
  html #mobile_body, body #mobile_body {
    overflow: hidden;
    display: block;
    position: relative;
    height: 100%;
    /* IN GAME *************** */ }
    html #mobile_body .button, body #mobile_body .button {
      display: block;
      margin: auto;
      border: 1px solid #fff;
      padding: 2%;
      width: 30%;
      min-width: 150px;
      max-width: 230px;
      text-transform: uppercase;
      opacity: 0.4;
      font-size: 80%;
      font-weight: 300;
      font-family: "Lato", sans-serif;
      background: none;
      color: #fff;
      -webkit-animation: slideup 0.8s;
      -moz-animation: slideup 0.8s;
      -ms-animation: slideup 0.8s;
      -o-animation: slideup 0.8s; }
    html #mobile_body .button:active, body #mobile_body .button:active {
      opacity: 1; }
    html #mobile_body .center, body #mobile_body .center {
      left: 50%;
      top: 42%;
      transform: translate(-50%, -42%);
      -webkit-transform: translate(-50%, -42%);
      -moz-transform: translate(-50%, -42%);
      -o-transform: translate(-50%, -42%); }
    html #mobile_body .center-top, body #mobile_body .center-top {
      left: 50%;
      top: 25%;
      transform: translate(-50%, -25%);
      -webkit-transform: translate(-50%, -25%);
      -moz-transform: translate(-50%, -25%);
      -o-transform: translate(-50%, -25%); }
    html #mobile_body #pre-game, body #mobile_body #pre-game {
      display: block;
      position: absolute;
      min-width: 300px;
      text-align: center;
      transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -webkit-transition: all 0.4s ease-in-out; }
      html #mobile_body #pre-game .sect, body #mobile_body #pre-game .sect {
        display: none;
        position: absolute;
        margin: auto;
        text-align: center;
        width: 100%;
        transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease-in-out; }
        html #mobile_body #pre-game .sect article, body #mobile_body #pre-game .sect article {
          font-size: 150%;
          width: 120%;
          margin-left: -10%; }
      html #mobile_body #pre-game .active, body #mobile_body #pre-game .active {
        display: block;
        -webkit-animation: slidein 0.7s;
        -moz-animation: slidein 0.7s;
        -ms-animation: slidein 0.7s;
        -o-animation: slidein 0.7s; }
      html #mobile_body #pre-game .nonactive, body #mobile_body #pre-game .nonactive {
        display: block;
        -webkit-animation: slideout 0.65s;
        -moz-animation: slideout 0.65s;
        -ms-animation: slideout 0.65s;
        -o-animation: slideout 0.65s; }
      html #mobile_body #pre-game .initial, body #mobile_body #pre-game .initial {
        display: block;
        -webkit-animation: slideup 0.8s;
        -moz-animation: slideup 0.8s;
        -ms-animation: slideup 0.8s;
        -o-animation: slideup 0.8s; }
      html #mobile_body #pre-game .logo, body #mobile_body #pre-game .logo {
        text-transform: uppercase;
        color: #FFF;
        font-size: 280%;
        transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease-in-out; }
        html #mobile_body #pre-game .logo .icon, body #mobile_body #pre-game .logo .icon {
          background-image: url("/assets/img/logo-symbol-2x.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 2vh;
          display: block;
          width: 100%;
          margin: auto;
          margin-top: 10px; }
      html #mobile_body #pre-game #intro p, body #mobile_body #pre-game #intro p {
        margin-bottom: 15%; }
      html #mobile_body #pre-game #game_login input, body #mobile_body #pre-game #game_login input {
        width: 420px;
        padding-left: 33px;
        letter-spacing: 46px;
        height: 70px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 35px;
        position: absolute;
        margin-top: -78px;
        text-transform: uppercase;
        color: #fff;
        display: block; }
      html #mobile_body #pre-game #game_login #boxes, body #mobile_body #pre-game #game_login #boxes {
        display: inline-block;
        margin: auto; }
        html #mobile_body #pre-game #game_login #boxes .box, body #mobile_body #pre-game #game_login #boxes .box {
          display: inline-block;
          float: left;
          height: 67px;
          width: 67px;
          background: #121C24;
          border: 1px solid;
          margin: 2px;
          outline: none;
          opacity: 0.05; }
        html #mobile_body #pre-game #game_login #boxes .filled, body #mobile_body #pre-game #game_login #boxes .filled {
          opacity: 1; }
      html #mobile_body #pre-game #game_login .button, body #mobile_body #pre-game #game_login .button {
        margin-top: 10%;
        -webkit-animation: fadein 3s;
        -moz-animation: fadein 3s;
        -ms-animation: fadein 3s;
        -o-animation: fadein 3s; }
    html #mobile_body #game_controls, body #mobile_body #game_controls {
      display: none; }
      html #mobile_body #game_controls #fire_btn, body #mobile_body #game_controls #fire_btn {
        font-size: 250%;
        display: block;
        margin: auto;
        max-width: 400px;
        margin-top: 40%;
        padding: 2%; }

/*# sourceMappingURL=mobile.css.map */
