// MIXINS

/* Properties */
=transition($time)
	transition: all $time ease
	-moz-transition: all $time ease
	-webkit-transition: all $time ease-in-out
	
=position($x, $y)
	transform: translate($x, $y)
	-webkit-transform: translate($x, $y)
	-moz-transform: translate($x, $y)
	-o-transform: translate($x, $y)

=diagonalBG($url)
	display: block
	background-size: 100%
	background-image: url($url)
	background-position: center
	position: relative
	height: 130%
	left: 0
	top: -5%
	width: 108%
	transform: rotate(-12deg)
	-moz-transform: rotate(-12deg)
	-o-transform: rotate(-12deg)
	-webkit-transform: rotate(-12deg)
	transform-origin: right center
	-moz-transform-origin: right center
	-webkit-transform-origin: right center
	content: ""
	
=colorSelectedBG()
	top: -21%
	width: 152%
	transform: rotate(-42deg)
	-moz-transform: rotate(-42deg)
	-o-transform: rotate(-42deg)
	-webkit-transform: rotate(-42deg)
	
/* Animation */
=slideIn($time)
	-webkit-animation: slidein $time
	-moz-animation: slidein $time
	-ms-animation: slidein $time
	-o-animation: slidein $time

=slideInRight($time)
	-webkit-animation: slideinright $time
	-moz-animation: slideinright $time
	-ms-animation: slideinright $time
	-o-animation: slideinright $time

=slideUp($time)
	-webkit-animation: slideup $time
	-moz-animation: slideup $time
	-ms-animation: slideup $time
	-o-animation: slideup $time

=slideDown($time)
	-webkit-animation: slidedown $time
	-moz-animation: slidedown $time
	-ms-animation: slidedown $time
	-o-animation: slidedown $time
	
=slideOut($time)
	-webkit-animation: slideout $time
	-moz-animation: slideout $time
	-ms-animation: slideout $time
	-o-animation: slideout $time

=rotate($time)
	-webkit-animation: rotate $time
	-moz-animation: rotate $time
	-ms-animation: rotate $time
	-o-animation: rotate $time
	
=rotateRight($time)
	-webkit-animation: rotateright $time
	-moz-animation: rotateright $time
	-ms-animation: rotateright $time
	-o-animation: rotateright $time
	
=fadeIn($time)
	-webkit-animation: fadein $time
	-moz-animation: fadein $time
	-ms-animation: fadein $time
	-o-animation: fadein $time
	
=fadeOut($time)
	-webkit-animation: fadeout $time
	-moz-animation: fadeout $time
	-ms-animation: fadeout $time
	-o-animation: fadeout $time

		
/* KEYFRAME ANIMATIONS ****************************/

// SLIDE IN *******************/////
@-webkit-keyframes slidein 
	from 
		opacity: 0
		margin-left: 200%
	to
		opacity: 1
		margin-left: 0
@-ms-keyframes slidein
	from
		opacity: 0
		margin-left: 200%
	to  
		opacity: 1
		margin-left: 0
@keyframes slidein
	from
		opacity: 0
		margin-left: 200%
	to 
		opacity: 1
		margin-left: 0
@-moz-keyframes slidein
	from
		opacity: 0
		margin-left: 200%
	to 
		opacity: 1
		margin-left: 0

// SLIDE IN RIGHT **********************/////
@-webkit-keyframes slideinright 
	from 
		opacity: 0
		margin-left: -200%
	to
		opacity: 1
		margin-left: 0
@-ms-keyframes slideinright
	from
		opacity: 0
		margin-left: -200%
	to  
		opacity: 1
		margin-left: 0
@keyframes slideinright
	from
		opacity: 0
		margin-left: -200%
	to 
		opacity: 1
		margin-left: 0
@-moz-keyframes slideinright
	from
		opacity: 0
		margin-left: -200%
	to 
		opacity: 1
		margin-left: 0
	
// SLIDE OUT ****************////
@-webkit-keyframes slideout
	from 
		opacity: 1
		margin-left: 0
	to
		opacity: 0
		margin-left: -200%
@-ms-keyframes slideout
	from
		opacity: 1
		margin-left: 0
	to  
		opacity: 0
		margin-left: -200%
@keyframes slideout
	from
		opacity: 1
		margin-left: 0
	to 
		opacity: 0
		margin-left: -200%
@-moz-keyframes slideout
	from
		opacity: 1
		margin-left: 0
	to 
		opacity: 0
		margin-left: -200%

// SLIDE UP *******************////
@-webkit-keyframes slideup
	from 
		opacity: 0
		margin-top: 200%
	to
		opacity: 1
		margin-top: 0
@-ms-keyframes slideup
	from
		opacity: 0
		margin-top: 200%
	to  
		opacity: 1
		margin-top: 0
@keyframes slideup
	from
		opacity: 0
		margin-top: 200%
	to 
		opacity: 1
		margin-top: 0
@-moz-keyframes slideup
	from
		opacity: 0
		margin-top: 200%
	to 
		opacity: 1
		margin-top: 0

// SLIDE DOWN *******************////
@-webkit-keyframes slidedown
	from 
		opacity: 0
		margin-top: -200%
	to
		opacity: 1
		margin-top: 0
@-ms-keyframes slidedown
	from
		opacity: 0
		margin-top: -200%
	to  
		opacity: 1
		margin-top: 0
@keyframes slidedown
	from
		opacity: 0
		margin-top: -200%
	to 
		opacity: 1
		margin-top: 0
@-moz-keyframes slidedown
	from
		opacity: 0
		margin-top: -200%
	to 
		opacity: 1
		margin-top: 0
//
// ROTATE ********************// 
@-webkit-keyframes rotate 
	from
		opacity: 0
		margin-left: 200%
		margin-top: -30%
		-webkit-transform: rotate(100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		-webkit-transform: rotate(0deg)
@-ms-keyframes rotate 
	from
		opacity: 0
		margin-left: 200%
		margin-top: -30%
		-ms-transform: rotate(100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		-ms-transform: rotate(0deg)
@-keyframes rotate 
	from
		opacity: 0
		margin-left: 200%
		margin-top: -30%
		transform: rotate(100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		transform: rotate(0deg)
@-moz-keyframes rotate 
	from
		opacity: 0
		margin-left: 200%
		margin-top: -30%
		-moz-transform: rotate(100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		-moz-transform: rotate(0deg)
		
// ROTATE RIGHT ********************// 
@-webkit-keyframes rotateright 
	from
		opacity: 0
		margin-left: -200%
		margin-top: -30%
		-webkit-transform: rotate(-100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		-webkit-transform: rotate(0deg)
@-ms-keyframes rotate 
	from
		opacity: 0
		margin-left: -200%
		margin-top: -30%
		-ms-transform: rotate(-100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		-ms-transform: rotate(0deg)
@-keyframes rotate 
	from
		opacity: 0
		margin-left: -200%
		margin-top: -30%
		transform: rotate(-100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		transform: rotate(0deg)
@-moz-keyframes rotate 
	from
		opacity: 0
		margin-left: -200%
		margin-top: -30%
		-moz-transform: rotate(-100deg)
	to
		opacity: 1
		margin-left: 0
		margin-top: 0
		-moz-transform: rotate(0deg)
		

// FADE IN *****************////
@keyframes fadein 
	from 
		opacity: 0
	to  
		opacity: 1
@-webkit-keyframes fadein 
	from
		opacity: 0
	to
		opacity: 1
@-moz-keyframes fadein 
	from
		opacity: 0
	to
		opacity: 1
@-ms-keyframes fadein 
	from 
		opacity: 0
	to
		opacity: 1
	
// FADE OUT ////
@keyframes fadeout 
	from 
		opacity: 1
	to  
		opacity: 0
@-webkit-keyframes fadeout 
	from
		opacity: 1
	to
		opacity: 0
@-moz-keyframes fadeout 
	from
		opacity: 1
	to
		opacity: 0
@-ms-keyframes fadeout 
	from 
		opacity: 1
	to
		opacity: 0